# Port number
PORT=3000

# Postgres URL
DATABASE_URL="postgres://postgres.rqcqtqtaqwtearqhhkur:RRJwCklChLoenGvD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# JWT
# JWT secret key
JWT_SECRET=vhdfjbjvfkjdzvbglfjfvb
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

GOOGLE_CLIENT_ID="630710299847-paguhm1cstj2sn2r97nkfdlcj5slpbtv.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"


